<div class="tracks_new">

<%= form_for(@track) do |f|  %>

  <a><%= f.label :title %></a>
  <a><%= f.text_field :title %></a>


  <a><%= f.label :song %></a>
  <a><%= f.file_field :song %></a>


  <a><%= f.label :length %></a>
  <a><%= f.text_field :length %></a>

  <%= f.submit %>
  <% end %>

</div>