
<p>
<strong>User name:</strong>
  <%= @track.user.name %>
</p>

 <p>
  <strong>Title:</strong>
  <%= @track.title %>
 </p>

  <p>
    <strong>length:</strong>
    <%= @track.length %>
  </p>

  <p>
    <%= audio_tag @track.song, controls: true, class: 'song-player' %> 
  </p>
   
  <p>  
   <strong>Feedback:</strong>
    <% @track.comments.each do |comment| %>
    <%= comment.feedback %>
   <% end %> 
  </p>
  
  <p>
  <%= render 'comments/form' %>

   <%= link_to 'Edit', edit_track_path(@track) %> |
   <%= link_to 'Back', tracks_path %>
 
 </p>
