
<div class="comment_form">
  <ul>
<li><%= form_for(@comment) do |f|  %></li>
<li><%= "Enter Feedback " %></li>  
<li><%= f.label :feedback %></li>  
<li><%= f.text_field :feedback %></li>

<li><%= f.label :track %></li>
<li><%= f.collection_select(:track_id, Track.all, :id, :title ) %> 

    <li><%= f.submit %></li>
     <li><%= link_to 'Back to Users', root_path %>
   </li> 

  </ul>
<% end %>
</div>