= form_for(@user) do |f|
  = f.label :name
  = f.text_field :name
  = f.label :image
  = f.file_field :image
  = f.label :about
  = f.text_field :about
  = f.label :contact
  = f.text_field :contact
  = f.label :genre
  = f.text_field :genre
  %p
    = f.submit 'Submit'
    = link_to 'Back to all Users', root_path


