<%"User"%>

<% content_for :body do %> 
<body id='background'>

<%end%> 

 
<div class="namez">
  <%= @user.name %>
 </div>

<div class="page_image">
   <p><%= image_tag @user.image if @user.image %></p>
</div>    

<div class="track"> 
 
  <% @user.tracks.each do |track| %>
  <%= audio_tag track.song, controls: true, class: 'song-player' %> 

<div class="track_title">
  <%= track.title %>
</div>
  <% end %>


<p>

<div class="about">
   <ul>    
    <li><strong>About: </strong><%= @user.about %></li>
    <li><strong>Contact: </strong><%= @user.contact %></li>
    <li><strong>Genre: </strong>  <%= @user.genre %></li>
</ul>
</div>
</p>

<p>
<div class="feedback">
  <strong>Feedback:</strong>
 <% @user.comments.each do |comment| %>
    <%= comment.feedback %>
   <% end %>
</div>
</p>
<div class="comments">
  <ul>
    <% if can? :create, Comment %>
      <li><%= link_to 'Leave comment', new_comment_path %></li>
    <% end %>
    <li><%= link_to 'Back to all users', root_path %></li>
    <% if can? :modify, @user %>
      </div>
  <div class="controls">
      <li><%= link_to 'Edit my page', edit_user_path(@user) %></li> 
      <li><%= link_to 'Delete my page', @user, method: :delete, data: {confirm: 'Are you sure?'} %></li>
    <% end %>
  </ul>
  </div>





